vendor/
node_modules/

.env
.env.backup
.env.production
auth.json
storage/*.key

public/hot
public/storage
public/build
storage/pail
storage/framework/cache/data/*
bootstrap/compiled.php

.phpunit.result.cache
npm-debug.log
yarn-error.log

.idea/
.vscode/
.DS_Store

# Ignore local tools and test files
composer.phar
composer.bat
test_db.php

src/webapp/dist/